parameters:
    level: 4
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\DB::registerDoctrineType\(\)#'

